
@import '~@angular/material/theming';
// @include mat-core();

// // $primary: mat-palette($mat-cyan,800);
// $primary: mat-palette($mat-green,800);
//   $accent: mat-palette($mat-yellow,400);

//   $theme: mat-dark-theme($primary, $accent);

// @include angular-material-theme($theme);
// $dark-primary: mat-palette($mat-blue,800);
// $dark-accent: mat-palette($mat-orange,800);

// $dark-theme: mat-dark-theme($primary, $accent);

// .material-dark-theme {
//   @include angular-material-theme($dark-theme);
// }
// @import '~@angular/material/theming';
@include mat-core();

  // $accent: mat-palette($mat-deep-orange, 200);
  .theme, .theme-default {
    $primary: mat-palette($mat-cyan,800);
    $accent: mat-palette($mat-orange,400);
    $theme: mat-light-theme($primary, $accent);
    @include angular-material-theme($theme);
    .list-item-active {
      color: mat-color($accent, darker) !important;
    }
  }

  .theme-start {
    // $primary: mat-palette($mat-cyan,800);
    $primary: mat-palette($mat-green,800);
    $accent: mat-palette($mat-yellow,400);

    $theme: mat-dark-theme($primary, $accent);
    @include angular-material-theme($theme);
    background-color: #242424;
    .list-item-active {
      color: mat-color($accent, darker) !important;
    }
  }
  .theme-sleep {
    $primary: mat-palette($mat-blue-grey);
    $accent:  mat-palette($mat-pink, 500, 900, A100);
    // $my-app-warn:    mat-palette($mat-deep-orange);
    $theme: mat-light-theme($primary, $accent);
    @include angular-material-theme($theme);
    background-color: #f6f5f8;
    .list-item-active {
      color: mat-color($accent, darker) !important;
    }
  }
  .theme-1 {
    $primary: mat-palette($mat-light-blue);
    $accent:  mat-palette($mat-yellow, 400);
    $theme: mat-light-theme($primary, $accent);
    @include angular-material-theme($theme);

    .list-item-active {
      color: mat-color($accent, darker) !important;
    }
  }


// .accent-color {
//   color: mat-color($accent)
// }
