.TagsSection {
  mat-form-field {
    width: 100%;
    input {
      line-height: 16px;
    }
    &.required {
      margin-top: 16px;
      mat-chip {
        background-color: #a8ffa3f2;
      }
    }
    &.forbidden {
      mat-chip {
        background-color: #ff874e94;
      }
    }

    button.mat-icon-button {
      width: 36px;
      height: 36px;
      mat-icon {
        font-size: 24px;
      }
    }
  }
}
