:host {
  width: 100%;
}

h1 + button {
  margin-left: 8px;
}

.label {
  font-size: 18px;
  word-break: break-word;
  font-weight: 300;
  text-align: center;
  margin-bottom: 8px;
}

.ProductEditor {
  width: 100%;
  display: flex;
  justify-content: center;

  .indent {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.ProductContainer {
  width: 900px;

  .imagePreview {
    width: fit-content;
    margin: 16px 0px;

    img {
      max-width: 100%;
      max-height: 200px;
    }
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    mat-form-field {
      width: 216px;
      margin-right: 12px;
      margin-top: 0px;
    }
  }

  input, button {
    display: block;
  }

  // mat-chip-list {
    // margin-top: 16px 0px;
  // }

  mat-form-field {
    display: block;
  }

  mat-card {
    margin: 8px 0px;
  }

  .hide {
    display: none;
  }

  .actions {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;

    button {
      font-size: 16px;
      &.edit-button {
        margin-right: 16px;
      }
    }
  }

  mat-chip-list {
    margin-top: -16px;
    display: block;
    margin-bottom: 12px;
  }

  .delete {
    margin-top: 8px;
  }
}

