<mat-toolbar color="primary">
  <button mat-icon-button
    [routerLink]="backUrl"
    matTooltip="повернення до списку продуктів">
    <mat-icon class="prev-page-icon">arrow_back</mat-icon>
  </button>
  <h1>{{ isNew ? 'Створення продукту' : 'Редагування продукту' }}</h1>
  <!-- <button mat-icon-button routerLink="/products/new">
    <mat-icon class="prev-page-icon">add</mat-icon>
  </button> -->
  <button mat-icon-button
    *ngIf="currProduct"
    matTooltip="перегляд прев'ю продукту"
    (click)="openCurrProductPreview()">
    <mat-icon>visibility</mat-icon>
  </button>
  <button mat-icon-button
    matTooltip="збереження продукту"
    *ngIf="currProduct && !productForm?.invalid"
    (click)="isNew ? onCreate() : onSave()">
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>
<div class="ProductEditor">
  <mat-card class="ProductContainer" *ngIf="currProduct; else loading">
    <form #productForm="ngForm" autocomplete="off">
      <mat-form-field appearance="outline" class="">
        <mat-label>Назва продукту</mat-label>
        <input matInput name="productTitle" maxlength="256" required
          pattern=".*\S+.*" [(ngModel)]="currProduct.name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Опис продукту</mat-label>
        <textarea matInput name="productDescription" maxlength="2048"
          [(ngModel)]="currProduct.description"></textarea>
      </mat-form-field>
      <section class="main-image">
        <input type="file" class="hide" (change)="uploadImage($event)" #productImage>
        <button (click)="productImage.click()" class="indent" mat-stroked-button color="primary">
          Завантажити зображення</button>
        <mat-card class="imagePreview" *ngIf="currProduct.image?.data as data">
          <mat-card-subtitle>Прев'ю зображення</mat-card-subtitle>
          <img [src]="'data:image/jpeg;base64,' + data" />
          <button class="delete" mat-stroked-button color="warn" (click)="removeImage()">Видалити зображення</button>
        </mat-card>
      </section>
      <mat-form-field class="relation-search">
        <mat-label>Категорії продукту</mat-label>
        <mat-select multiple [ngModel]="categories" (ngModelChange)="addCategories($event)" name="categories">
          <ngx-mat-select-search ngModel name="productFilter1" (ngModelChange)="filterMyProducts($event)"
            [placeholderLabel]="'Пошук продуктів...'" [noEntriesFoundLabel]="'Продукти не знайдено'">
          </ngx-mat-select-search>
          <mat-option *ngFor="let product of filteredProducts" [value]="product.id" [matTooltip]="product.name">
            {{ product.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-chip-list *ngIf="categories?.length">
        <mat-chip class="mat-chip-selected" color="accent"
          (removed)="removeCategory(index)"
          (click)="openProduct(category)"
          *ngFor="let category of categories; let index = index">
          {{ getProductName(category) }}<mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-form-field class="relation-search">
        <mat-label>Підкатегорії продукту</mat-label>
        <mat-select multiple [ngModel]="subcategories" (ngModelChange)="addSubcategories($event)" name="subs">
          <ngx-mat-select-search ngModel name="productFilter2" (ngModelChange)="filterMyProducts($event)"
            [placeholderLabel]="'Пошук продуктів...'" [noEntriesFoundLabel]="'Продукти не знайдено'">
          </ngx-mat-select-search>
          <mat-option *ngFor="let product of filteredProducts" [matTooltip]="product.name" [value]="product.id">
            {{ product.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-chip-list *ngIf="subcategories?.length">
        <mat-chip class="mat-chip-selected" color="accent"
          (removed)="removeSubcategory(index)"
          (click)="openProduct(subcategory)"
          *ngFor="let subcategory of subcategories; let index = index">
          {{ getProductName(subcategory) }}<mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <div class="label">Приблизний хімічний склад та харчова цінність (на 100 г):</div>
      <div class="numbers">
        <mat-form-field appearance="outline" class="">
          <mat-label>Калорійність</mat-label>
          <input matInput name="calories" #cals [pattern]="decimalPattern"
            [ngModel]="currProduct.calories" (change)="currProduct.calories = convertToNumber(cals)">
          <span matSuffix>ккал</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Жири</mat-label>
          <input matInput name="fats" #fats [pattern]="decimalPattern"
            [ngModel]="currProduct.fats" (change)="currProduct.fats = convertToNumberWithLimit(fats)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Білки</mat-label>
          <input matInput #squirrels [pattern]="decimalPattern" [ngModel]="currProduct.squirrels"
            name="squirrels" (change)="currProduct.squirrels = convertToNumberWithLimit(squirrels)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Вуглеводи</mat-label>
          <input matInput [pattern]="decimalPattern" #carbohydrates [ngModel]="currProduct.carbohydrates"
            name="carbohydrates" (change)="currProduct.carbohydrates = convertToNumberWithLimit(carbohydrates)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Вода</mat-label>
          <input matInput #water [pattern]="decimalPattern" [ngModel]="currProduct.water"
            name="water" (change)="currProduct.water = convertToNumberWithLimit(water)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Зола</mat-label>
          <input matInput name="ash" #ash [pattern]="decimalPattern"
            [ngModel]="currProduct.ash" (change)="currProduct.ash = convertToNumberWithLimit(ash)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Цукор</mat-label>
          <input matInput #sugar [pattern]="decimalPattern" [ngModel]="currProduct.sugar"
            name="sugar" (change)="currProduct.sugar = convertToNumberWithLimit(sugar)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Клітковина</mat-label>
          <input matInput #cellulose [pattern]="decimalPattern" [ngModel]="currProduct.cellulose"
            name="cellulose" (change)="currProduct.cellulose = convertToNumberWithLimit(cellulose)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Крохмаль</mat-label>
          <input matInput #starch [pattern]="decimalPattern" [ngModel]="currProduct.starch"
            name="starch" (change)="currProduct.starch = convertToNumberWithLimit(starch)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Холестерин</mat-label>
          <input matInput #cholesterol [pattern]="decimalPattern" [ngModel]="currProduct.cholesterol"
            name="cholesterol" (change)="currProduct.cholesterol = convertToNumberWithLimit(cholesterol)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Трансжири</mat-label>
          <input matInput [pattern]="decimalPattern" [ngModel]="currProduct.transFats" #transFats
            name="transFats" (change)="currProduct.transFats = convertToNumberWithLimit(transFats)">
          <span matSuffix>г</span>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="actions">
        <button
          [disabled]="productForm.invalid"
          mat-raised-button
          color="primary"
          class="edit-button"
          *ngIf="!isNew"
          (click)="onSave()">
          Оновити продукт</button>
        <button
          [disabled]="productForm.invalid"
          mat-raised-button
          [color]="isNew ? 'primary' : 'basic'"
          class="save-button"
          (click)="onCreate()">
          Створити новий продукт</button>
      </div>
    </form>
  </mat-card>
</div>
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    <span>Завантаження продукту...</span>
  </div>
</ng-template>
