<mat-toolbar class="header" color="primary">
  <div class="header-actions">
    <button mat-icon-button
      (click)="navigateToProduct(0, true)"
      matTooltip="перехід до основних категорій продуктів"
      *ngIf="currProduct">
      <mat-icon class="first-page-icon">first_page</mat-icon>
    </button>
    <button mat-icon-button
      (click)="returnBack()"
      matTooltip="перехід до попереднього продукту"
      *ngIf="breadCrumbs?.length">
      <mat-icon class="prev-page-icon">arrow_back</mat-icon>
    </button>
    <h1>{{ currProduct?.name || 'Список основних продуктів'}}</h1>
    <button mat-icon-button *ngIf="displayProducts?.length && currProduct" class="all"
      [matTooltip]="toggleSubcategoriesTitle" (click)="toggleSubcategories()">
      <mat-icon>{{ areAllSubcategories ? 'remove' : 'select_all' }}</mat-icon>
    </button>
    <ng-container *ngIf="currProduct && auth.isAdmin">
      <a mat-icon-button matTooltip="редагувати продукт"
        [routerLink]="['/products', currProduct?.id, 'edit']"
        [queryParams]="{ from: currProduct?.id }">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button matTooltip="видалити продукт"
        (click)="deleteProduct(currProduct.id, currProduct.name)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <!-- <button mat-icon-button [matMenuTriggerFor]="editMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #editMenu="matMenu">
        <a mat-menu-item
          [routerLink]="['/products', currProduct.id, 'edit']"
          [queryParams]="{ from: currProduct?.id }">Редагувати</a>
        <button mat-menu-item (click)="deleteProduct(currProduct.id)">Видалити</button>
      </mat-menu> -->
    </ng-container>
    <a *ngIf="auth.isAdmin" mat-icon-button matTooltip="додати продукт"
      routerLink="/products/new" [queryParams]="{ from: currProduct?.id }">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <mat-form-field class="products-search" appearance="fill">
    <mat-label>Пошук продукту...</mat-label>
    <input
      placeholder="Назва продукту"
      #productInput matInput
      (input)="filterProductsByName(productInput.value)"
      [matAutocomplete]="filteredProducts">
    <button mat-icon-button matSuffix (click)="filterProductsByName(productInput.value)">
      <mat-icon>search</mat-icon>
    </button>
    <mat-autocomplete #filteredProducts="matAutocomplete"
      (optionSelected)="onSelectProduct($event); productInput.value = ''">
      <mat-option *ngFor="let product of productsForSearch" [matTooltip]="product?.name" [value]="product?.id">
        {{ product?.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-toolbar>
<div class="ProductsList container">
  <div class="content">
    <ng-container *ngIf="displayProducts; else loading">
      <div *ngIf="currProduct" class="details" color="basic">
        <mat-expansion-panel [(expanded)]="openDetails">
          <mat-expansion-panel-header>
            <mat-panel-title>Деталі</mat-panel-title>
            <mat-panel-description>Зображення, склад, опис, категорії</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <ng-template matExpansionPanelContent>
            <div class="main">
              <div class="image-сontainer" *ngIf="currProduct?.imageId">
                <img *ngIf="(currProduct.imageSrc$ | async) as image; else loading"
                  [src]="image"alt="">
              </div>
              <div class="composition-container">
                <span class="label">Приблизний хімічний склад та харчова цінність (на 100 г):</span>
                <div class="composition-data">
                  <div class="col">
                    <p><strong>Калорійність: </strong>
                      {{ currProduct.calories || 'н/д' }}<span>&nbsp;&nbsp;(ккал)</span></p>
                    <p><strong>Жири: </strong>
                      {{ currProduct.fats || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Білки: </strong>
                      {{ currProduct.squirrels || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Вуглеводи: </strong>
                      {{ currProduct.carbohydrates || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Вода: </strong>
                      {{ currProduct.water || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Зола: </strong>
                      {{ currProduct.ash || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                  </div>
                  <div class="col">
                    <p><strong>Цукор: </strong>
                      {{ currProduct.sugar || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Крохмаль: </strong>
                      {{ currProduct.starch || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Холестерин: </strong>
                      {{ currProduct.cholesterol || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Клітковина: </strong>
                      {{ currProduct.cellulose || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                    <p><strong>Транс жири: </strong>
                      {{ currProduct.transFats || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="description">
              <p *ngIf="currProduct.description as description">{{ description }}</p>
              <div class="categories">
                <ng-container *ngIf="categories; else simpleLoading">
                  <mat-chip-list *ngIf="categories.length">
                    <mat-chip color="accent" selected (click)="navigateToProduct(category?.id, true)"
                      *ngFor="let category of categories">
                      {{ category?.name }}
                    </mat-chip>
                    <mat-chip [matTooltip]="this.areAllCategories ? 'Сховати додаткові категорії' : 'Показати усі категорії'"
                      selected color="primary" (click)="toggleCategories()">...</mat-chip>
                  </mat-chip-list>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </div>
      <mat-divider></mat-divider>
      <div class="grid">
        <mat-card class="product-card" *ngFor="let product of displayProducts">
          <div class="card-content">
            <div class="card-header">
              <mat-card-header (click)="navigateToProduct(product?.id, true)">
                <mat-card-title>{{ product?.name }}</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
            </div>
            <mat-card-content>
              <div class="image-outer">
                <div class="imageContainer" *ngIf="product?.imageId" (click)="navigateToProduct(product?.id, true)">
                  <img *ngIf="(product?.imageSrc$ | async) as image; else simpleLoading"
                    mat-card-image [src]="image">
                </div>
              </div>
              <div class="categories" *ngIf="product?.categoryNames?.length > 0" >
                <mat-chip-list>
                  <mat-chip color="accent" selected (click)="navigateToProduct(category?.id, true)"
                    *ngFor="let category of product.categoryNames">
                    {{ category.name }}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-card-content>
          </div>
          <div class="card-footer">
            <mat-card-actions *ngIf="auth.isAdmin">
              <a mat-stroked-button color="primary" [routerLink]="['/products', product?.id, 'edit']"
                [queryParams]="{ from: currProduct?.id }">Редагувати</a>
              <button mat-stroked-button color="warn" (click)="deleteProduct(product?.id, product.name)">
                Видалити</button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    <span>Завантаження даних...</span>
  </div>
</ng-template>

<ng-template #simpleLoading>
  <div class="spinner-container-simple">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-template>
