:host {
  width: 100%;
}

strong {
  font-weight: 500;
}

h1 + a {
  margin-left: 8px;
}

.header {
  min-height: 64px;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-between;

  &-actions {
    display: flex;
    align-items: center;
    min-height: 64px;

    .first-page-icon {
      font-size: 32px;
    }
    .prev-page-icon {
      font-size: 26px;
    }
    h1 {
      word-break: break-word;
      white-space: normal;
    }
    button + h1 {
      margin-left: 8px;
    }
  }
}

.products-search {
  // margin-left: auto;
  margin-bottom: -16px;
  line-height: 18px;
  font-size: 16px;

  button {
    font-size: 16px;
    height: 40px;
    mat-icon {
      margin-left: 8px;
    }
  }
}

.details {
  display: flex;
  background-color: white;
  flex-direction: column;

  .description {
    padding: 0px 16px 8px 16px;
  }

  mat-expansion-panel {
    border-radius: 0;
  }

  .main {
    padding: 16px;
    padding-top: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & > div {
      margin-right: 16px;
    }

    .image-Ñontainer {
      margin-top: 16px;
      overflow: hidden;
      border-radius: 8px;
      margin-right: 16px;
      max-height: 501px;
      img {
        max-height: 501px;
        border-radius: 8px;
        max-width: 100%;
      }
    }
  }

  .composition {
    &-container {
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #c2c1c1;
      margin-top: 16px;
      flex-basis: 232px;
      flex-grow: 1;

      .p > span {
        font-size: 14px;
      }
      .label {
        font-size: 20px;
        word-break: break-word;
        color: grey;
        font-weight: 300;
      }
    }
    &-data {
      display: flex;
      flex-wrap: wrap;
      .col {
        width: 200px;
        &:first-of-type {
          margin-right: 10%;
        }
      }
    }
  }
}

.ProductsList {
  &.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .content {
    width: 1600px;

    .grid {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      img {
        width: 100%;
        margin: 0px;
      }

      mat-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        mat-card-title {
          word-break: break-word;
        }

        mat-card-header {
          margin-left: -16px;
          margin-right: -16px;
        }

        mat-card-content {
          margin-bottom: 0px;
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // height: 100%;
        }

        mat-card-actions {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0;
          padding-bottom: 0;
          button {
            margin: 0px;
          }
        }
      }
    }

    @media screen and (max-width: 532px) {
      .grid .product-card {
        width: 100%;
        mat-card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .imageContainer {
          max-width: 232px;
        }
      }
    }

    .product-card {
      margin: 8px;
      width: 200px;
      background-color: white;

      mat-card-header {
        color: black;
      }

      mat-divider {
        color: rgba(0, 0, 0, 0.87);
        border-top-color: rgba(0, 0, 0, 0.12);
      }

      mat-card-actions {
        a, button {
          border-color: rgba(0, 0, 0, 0.12);
        }
        // a {
        //   color: black;
        // }
      }
    }

    .imageContainer {
      flex-shrink: 0;
      max-height: 232px;
      overflow: hidden;
      margin: 0 -16px;
    }

    .categories {
      margin-top: 16px;
      mat-chip {
        height: auto;
        word-break: break-word;
        text-align: center;
      }
    }
  }
}

mat-panel-title {
  font-size: 20px;
  align-items: center;
}
mat-panel-description {
  line-height: 24px;
}
