:host {
  width: 100%;
}

strong {
  font-weight: 500;
}

mat-toolbar {
  &.header {
    .first-page-icon {
      font-size: 32px;
    }
    .prev-page-icon {
      font-size: 26px;
    }
    button:last-of-type {
      margin-right: 8px;
    }
    min-height: 64px;
    height: fit-content;
    h1 {
      word-break: break-word;
      white-space: normal;
    }
  }
}

.details {
  display: flex;
  background-color: white;
  flex-direction: column;

  .description {
    padding: 0px 16px 8px 16px;
  }

  .main {
    padding: 16px;
    padding-top: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & > div {
      margin-right: 16px;
    }

    .image-сontainer {
      margin-top: 16px;
      overflow: hidden;
      border-radius: 8px;
      margin-right: 16px;
      max-height: 501px;
      img {
        max-height: 501px;
        border-radius: 8px;
        max-width: 100%;
      }
    }
  }

  .composition {
    &-container {
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #c2c1c1;
      margin-top: 16px;
      flex-basis: 232px;
      flex-grow: 1;

      .p > span {
        font-size: 14px;
      }
      .label {
        font-size: 20px;
        word-break: break-word;
        color: grey;
        font-weight: 300;
      }
    }
    &-data {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .col {
        width: 200px;
      }
    }
  }
}

.ProductsList {
  &.container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    width: 1600px;

    .grid {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      mat-card-title {
        word-break: break-word;
      }
    }

    @media screen and (max-width: 532px) {
      .grid .product-card {
        width: 100%;
        mat-card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .imageContainer {
          max-width: 232px;
        }
      }
    }

    .product-card {
      margin: 8px;
      width: 200px;
    }

    .imageContainer {
      flex-shrink: 0;
      max-height: 200px;
      overflow: hidden;
      margin: 0 -16px;
    }

    .categories {
      margin-top: 16px;
      mat-chip {
        height: auto;
        word-break: break-word;
        text-align: center;
      }
    }
  }
}

mat-panel-title {
  font-size: 20px;
  align-items: center;
}
mat-panel-description {
  line-height: 24px;
}
