<div class="Header">
  <mat-toolbar color="primary">
    <div class="menu">
      <button mat-icon-button (click)="toggleDrawer.emit(null)">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" class="logo">
        <img src="../../../assets/logo.png" alt="">
      </a>
      <div class="up-menu">
        <button class="menuItem" mat-button [class.link-active]="router.isActive('profiles')"
          [matMenuTriggerFor]="profileMenu">Обліковий запис</button>
        <mat-menu #profileMenu="matMenu">
          <a mat-menu-item *ngIf="isAuthorized" routerLink="/profiles/user/changepassword"
            routerLinkActive="link-active">Зміна паролю</a>
          <a mat-menu-item *ngIf="!isAuthorized" routerLink="/profiles/user/signin"
            routerLinkActive="link-active">Вхід</a>
          <a mat-menu-item routerLink="/profiles/user/signup"
            routerLinkActive="link-active">Реєстрація</a>
          <button mat-menu-item *ngIf="isAuthorized" (click)="logout()">Вихід</button>
        </mat-menu>
        <a *ngIf="!isAdmin; else fullProducts"
          mat-button class="menuItem" routerLink="/products"
          routerLinkActive="link-active">Продукти</a>
        <a mat-button *ngIf="!isAuthorized; else fullRecipes"
          class="menuItem" routerLink="/recipes"
          routerLinkActive="link-active">Рецепти</a>
      </div>
    </div>
    <div class="actions">
      <span *ngIf="userName" class="user-name" [matTooltip]="userName">{{ userName }}</span>
      <button mat-icon-button *ngIf="isAuthorized" matTooltip="користувач увійшов">
        <mat-icon>person</mat-icon>
      </button>
      <ng-container *ngIf="!isAuthorized">
        <a mat-icon-button routerLink="/profiles/user/signup" matTooltip="реєстрація" matTooltip="реєстрація">
          <mat-icon>person_add</mat-icon>
        </a>
        <a mat-icon-button routerLink="/profiles/user/signin" matTooltip="вхід">
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </ng-container>
      <button mat-icon-button *ngIf="isAuthorized" matTooltip="вихід" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      <a mat-icon-button class="menuItem" matTooltip="теми" [matMenuTriggerFor]="colors">
        <mat-icon>format_color_fill</mat-icon>
      </a>
      <mat-menu #colors="matMenu">
        <button [ngClass]="getThemeByCode(theme?.code)"
          mat-menu-item
          [class.list-item-active]="theme?.code === currThemeCode"
          class="theme-button"
          *ngFor="let theme of themes"
          (click)="changeTheme(theme?.code)"
        >
          {{ theme?.label }}
          <mat-icon color="primary">style</mat-icon>
          <mat-icon color="accent">style</mat-icon>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>

<ng-template #fullProducts>
  <button class="menuItem" mat-button [class.link-active]="router.isActive('products')"
    [matMenuTriggerFor]="productsMenu">Продукти</button>
  <mat-menu #productsMenu="matMenu">
    <a mat-menu-item routerLink="/products/list"
      routerLinkActive="link-active">Cписок</a>
    <a mat-menu-item *ngIf="isAdmin" routerLink="/products/new"
      routerLinkActive="link-active">Створення продукту</a>
  </mat-menu>
</ng-template>
<ng-template #fullRecipes>
  <button class="menuItem" mat-button [class.link-active]="router.isActive('recipes')"
    [matMenuTriggerFor]="recipesMenu">Рецепти</button>
  <mat-menu #recipesMenu="matMenu">
    <a mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/my"
      routerLinkActive="link-active">Керування рецептами</a>
    <a mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/new"
      routerLinkActive="link-active">Створення рецепту</a>
    <a mat-menu-item routerLink="/recipes/search"
      routerLinkActive="link-active">Пошук рецептів</a>
  </mat-menu>
</ng-template>
