        <!-- <button mat-menu-item *ngIf="isAuthorized" routerLink=""
          routerLinkActive="link-active">Мій профіль</button> -->
                <!-- <button mat-icon-button class="menuItem" [matMenuTriggerFor]="colors">
        <mat-icon>format_color_fill</mat-icon>
      </button> -->
<div class="Header">
  <mat-toolbar color="primary">
    <div class="menu">
      <button mat-icon-button (click)="toggleDrawer.emit(null)">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="up-menu">
        <button mat-button class="menuItem" routerLink="/profiles" routerLinkActive="link-active"
        [matMenuTriggerFor]="profileMenu">Обліковий запис</button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item *ngIf="!isAuthorized" routerLink="/profiles/user/signin"
            routerLinkActive="link-active">Вхід</button>
          <button mat-menu-item routerLink="/profiles/user/signup"
            routerLinkActive="link-active">Реєстрація</button>
          <button mat-menu-item *ngIf="isAuthorized" (click)="logout()">Вихід</button>
        </mat-menu>
        <button *ngIf="!isAdmin; else fullProducts"
          mat-button class="menuItem" routerLink="/products"
          routerLinkActive="link-active">
          Продукти</button>
        <button mat-button *ngIf="!isAuthorized; else fullRecipes"
          class="menuItem" routerLink="/recipes"
          routerLinkActive="link-active">
          Рецепти</button>
        <mat-menu #recipesMenu="matMenu">
          <button mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/my"
            routerLinkActive="link-active">Мої рецепти</button>
          <button mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/new"
            routerLinkActive="link-active">Створення рецепта</button>
          <button mat-menu-item routerLink="/recipes/search"
            routerLinkActive="link-active">Пошук рецептів</button>
      </mat-menu>
      <mat-form-field style="font-size: 12px; margin-bottom: -16px">
        <input matInput name="theme-input" #themeInput (change)="theme.changeTheme(themeInput.value)">
      </mat-form-field>
      </div>
    </div>
    <div class="actions">
      <span *ngIf="userName" class="user-name" [matTooltip]="userName">{{ userName }}</span>
      <button mat-icon-button *ngIf="isAuthorized" matTooltip="користувач увійшов">
        <mat-icon>person</mat-icon>
      </button>
      <ng-container *ngIf="!isAuthorized">
        <button mat-icon-button routerLink="/profiles/user/signup" matTooltip="реєстрація" matTooltip="реєстрація">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button routerLink="/profiles/user/signin" matTooltip="вхід">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </ng-container>
      <button mat-icon-button *ngIf="isAuthorized" matTooltip="вихід" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      <button mat-icon-button class="menuItem" matTooltip="теми" [matMenuTriggerFor]="colors">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #colors="matMenu">
        <button [ngClass]="getThemeByCode(theme?.code)"
          mat-menu-item
          [class.list-item-active]="theme?.code === currThemeCode"
          class="theme-button"
          *ngFor="let theme of themes"
          (click)="changeTheme(theme?.code)"
        >
          {{ theme?.label }}
          <mat-icon color="primary">style</mat-icon>
          <mat-icon color="accent">style</mat-icon>
        </button>
        <!-- color_lens -->
        <!-- <mat-radio-button color="primary" *ngFor="let theme of themes"
          [checked]="theme?.code === currThemeCode"
          (click)="changeTheme(theme?.code)">
          {{ theme?.label }}
        </mat-radio-button> -->
      </mat-menu>
    </div>
  </mat-toolbar>
</div>

<ng-template #fullProducts>
  <button mat-button class="menuItem" routerLink="/products" routerLinkActive="link-active"
  [matMenuTriggerFor]="productsMenu">Продукти</button>
  <mat-menu #productsMenu="matMenu">
    <button mat-menu-item routerLink="/products/list"
      routerLinkActive="link-active">Cписок</button>
    <button mat-menu-item *ngIf="isAdmin" routerLink="/products/new"
      routerLinkActive="link-active">Створення продукту</button>
  </mat-menu>
</ng-template>
<ng-template #fullRecipes>
  <button mat-button class="menuItem" routerLink="/recipes" routerLinkActive="link-active"
    [matMenuTriggerFor]="recipesMenu">Рецепти</button>
  <mat-menu #recipesMenu="matMenu">
    <button mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/my"
      routerLinkActive="link-active">Мої рецепти</button>
    <button mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/new"
      routerLinkActive="link-active">Створення рецепту</button>
    <button mat-menu-item routerLink="/recipes/search"
      routerLinkActive="link-active">Пошук рецептів</button>
  </mat-menu>
</ng-template>

