<div class="Header">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button class="menuItem" routerLink="/user" routerLinkActive="link-active"
      [matMenuTriggerFor]="profileMenu">Профіль</button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item *ngIf="!isAuthorized" routerLink="/user/login"
        routerLinkActive="link-active">Вхід</button>
      <button mat-menu-item *ngIf="!isAuthorized" routerLink="/user/registration"
        routerLinkActive="link-active">Реєстрація</button>
      <button mat-menu-item *ngIf="isAuthorized" routerLink=""
        routerLinkActive="link-active">Мій профіль</button>
      <button mat-menu-item *ngIf="isAuthorized" routerLink=""
        routerLinkActive="link-active">Вихід</button>
    </mat-menu>
    <button mat-button class="menuItem" routerLink="/products" routerLinkActive="link-active"
      [matMenuTriggerFor]="productsMenu">Продукти</button>
    <mat-menu #productsMenu="matMenu">
      <button mat-menu-item routerLink="/products/list"
        routerLinkActive="link-active">Cписок</button>
      <button mat-menu-item *ngIf="isAuthorized" routerLink="/products/new"
        routerLinkActive="link-active">Створення продукту</button>
    </mat-menu>
    <button mat-button class="menuItem" routerLink="/recipes" routerLinkActive="link-active"
      [matMenuTriggerFor]="recipesMenu">Рецепти</button>
    <mat-menu #recipesMenu="matMenu">
      <button mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/my"
        routerLinkActive="link-active">Мої рецепти</button>
      <button mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/filters"
        routerLinkActive="link-active">Мої фільтри</button>
      <button mat-menu-item *ngIf="isAuthorized" routerLink="/recipes/new"
        routerLinkActive="link-active">Створення рецепту</button>
      <button mat-menu-item routerLink="/recipes/search"
        routerLinkActive="link-active">Пошук рецептів</button>
    </mat-menu>
  </mat-toolbar>
</div>

