// .link-active {
//   border: 1px solid red;
// }

:host {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.Header {
  height: 100%;
  mat-toolbar {
    height: 100%;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  .menuItem {
    font-size: 1rem;
  }
  // .menuItem, .menuItem a {
  //   color: inherit;
  //   text-decoration: none;
  // }
  .link-active {
    background-color: #ffffff1f;
  }

  mat-drawer {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
  }
}
