<mat-toolbar color="primary">
  <button mat-icon-button
    routerLink="/recipes/my"
    matTooltip="повернення до списку рецептів">
    <mat-icon class="prev-page-icon">arrow_back</mat-icon>
  </button>
  <h1>{{ isNew ? 'Створення рецепту' : 'Редагування рецепту' }}</h1>
  <button mat-icon-button
    matTooltip="збереження рецепту"
    *ngIf="currRecipe && !recipeFormRef?.invalid"
    (click)="isNew ? onCreate() : onSave()">
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>
<div class="RecipeEditor">
  <mat-card class="RecipeContainer" *ngIf="this.currRecipe; else loading">
    <form #recipeForm="ngForm">
      <mat-form-field appearance="outline" class="">
        <mat-label>Назва рецепту</mat-label>
        <input matInput name="recipeTitle" maxlength="256" required
          pattern=".*\S+.*" [(ngModel)]="currRecipe.title">
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Опис рецепту</mat-label>
        <textarea matInput name="recipeDescription" maxlength="1024"
          [(ngModel)]="currRecipe.description"></textarea>
      </mat-form-field>
      <div class="numbers">
        <mat-form-field appearance="outline" class="">
          <mat-label>Кількість порцій</mat-label>
          <input matInput type="text" #portions name="portions" pattern="[0-9]*"
            [ngModel]="currRecipe.portions" (change)="currRecipe.portions = convertToNumber(portions)">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Вага однієї порції</mat-label>
          <input matInput #servingWeight [ngModel]="currRecipe.servingWeight" name="servingWeight"
            type="text" pattern="[0-9.]*" (change)="currRecipe.servingWeight = convertToNumber(servingWeight)">
          <span matSuffix>г</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="">
          <mat-label>Час приготування</mat-label>
          <input matInput type="text" #duration name="duration" pattern="[0-9]*"
            [ngModel]="currRecipe.duration" (change)="currRecipe.duration = convertToNumber(duration)">
          <span matSuffix>хв</span>
        </mat-form-field>
        <mat-form-field matTooltipPosition="above" appearance="outline" matTooltip="калорійність у 100 г готової страви">
          <mat-label>Калорійність (на 100 г)</mat-label>
          <input matInput name="calories" #cals type="text" pattern="[0-9.]*"
            [ngModel]="currRecipe.calories" (change)="currRecipe.calories = convertToNumber(cals)">
          <span matSuffix>ккал</span>
        </mat-form-field>
      </div>
      <section class="main-image">
        <input type="file" class="hide" (change)="uploadRecipeImage($event)" #recipeImage>
        <button (click)="recipeImage.click()" class="indent" mat-stroked-button color="primary">
          Завантажити зображення</button>
        <mat-card class="imagePreview" *ngIf="currRecipe.image?.data as data">
          <mat-card-subtitle>Прев'ю зображення</mat-card-subtitle>
          <img [src]="'data:image/jpeg;base64,' + data" />
          <button mat-stroked-button color="warn" (click)="removeRecipeImage()">Видалити зображення</button>
        </mat-card>
      </section>

      <mat-form-field class="tags">
        <mat-chip-list #tagsList>
          <mat-chip class="mat-chip-selected" color="accent" (removed)="removeTag(index)"
            *ngFor="let tag of currRecipe.tags || []; let index = index">
            {{ tag?.tag }}<mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Додати тег"
            #tagInput matInput
            maxLength="128"
            [formControl]="tagsCtrl"
            [matAutocomplete]="autoRequired"
            [matChipInputFor]="tagsList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
        <button mat-icon-button matSuffix (click)="setTag(tagInput.value); tagInput.value = null">
          <mat-icon>add</mat-icon>
        </button>
        <mat-autocomplete #autoRequired="matAutocomplete" (optionSelected)="selectTag($event)">
          <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
            {{ tag?.toLocaleLowerCase() }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <section class="Ingredients">
        <div class="Ingredients-list">
          <mat-card *ngFor="let ingredient of currRecipe.ingredients; let index = index">
            <mat-card-header>
              <button mat-icon-button color="primary"
                *ngIf="ingredient?.productId as id"
                (click)="openProduct(id)">
                <mat-icon matListIcon>info</mat-icon>
              </button>
              <mat-card-subtitle>Інгредієнт</mat-card-subtitle>
            </mat-card-header>
            <mat-form-field appearance="outline">
              <mat-label>Продукт</mat-label>
              <mat-select name="productSelect-{{index}}"
                [(ngModel)]="ingredient.productId"
                placeholder="Оберіть продукт">
                <ngx-mat-select-search ngModel name="productFilter" (ngModelChange)="filterMyProducts($event)"
                  [placeholderLabel]="'Пошук продуктів...'" [noEntriesFoundLabel]="'Продукти не знайдено'">
                </ngx-mat-select-search>
                <mat-option *ngFor="let product of filteredProducts" [matTooltip]="product.name" [value]="product.id">
                  {{ product.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <section class="weight">
              <mat-form-field appearance="outline" matTooltip="Кількість" matTooltipPosition="above">
                <mat-label matTooltip="Кількість">Кількість</mat-label>
                <input matInput #weight name="weight-{{index}}" pattern="[0-9.]*" maxlength="10" required
                  [ngModel]="ingredient.weight" (change)="ingredient.weight = convertToNumber(weight)">
              </mat-form-field>
              <mat-form-field appearance="outline" matTooltip="Одиниця виміру" matTooltipPosition="above">
                <mat-label>Одиниця виміру</mat-label>
                <input matInput required #measurement
                  name="measurement-{{index}}"
                  maxlength="32"
                  [ngModel]="ingredient.weightMeasurement"
                  (input)="setMeasurement(ingredient, measurement.value)"
                  [matTooltip]="getMeasurementTitle(ingredient.weightMeasurement)"
                  [matAutocomplete]="autoMeasurements">
                <mat-autocomplete #autoMeasurements="matAutocomplete"
                  (optionSelected)="setMeasurement(ingredient, $event?.option.value)">
                  <mat-option *ngFor="let measurement of measurements"
                    [matTooltip]="measurement.title || null"
                    [value]="measurement.value">{{ measurement.value }}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </section>
            <mat-form-field *ngIf="ingredient.weightInGrams || ingredient.weightMeasurement !== 'г'"
              appearance="outline">
              <mat-label>Приблизна вага в грамах</mat-label>
              <input matInput #weightInGrams pattern="[0-9.]*" [ngModel]="ingredient.weightInGrams"
                name="weightInGrams-{{index}}" (change)="ingredient.weightInGrams = convertToNumber(weightInGrams)">
              <span matSuffix>г</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="">
              <mat-label>Примітка</mat-label>
              <textarea matInput name='ingredientName-{{index}}'
                [(ngModel)]="ingredient.note"></textarea>
            </mat-form-field>
            <mat-checkbox name="necessity-{{index}}" color="primary" [(ngModel)]="ingredient.necessity">
              Цей продукт є обов'язковим</mat-checkbox>
            <button (click)="removeIngredient(index)" class="indent" mat-stroked-button color="warn">Видалити</button>
          </mat-card>
        </div>
        <button (click)="addIngredient()" class="ingredient-button" mat-stroked-button color="primary">Додати інгредієнт</button>
        <mat-form-field appearance="outline">
          <mat-label>Опис інгредієнтів</mat-label>
          <textarea matInput name="ingredientDescription" maxlength="512"
            [(ngModel)]="currRecipe.ingredientsDescription"></textarea>
        </mat-form-field>
      </section>

      <mat-card *ngFor="let step of currRecipe.steps; let index = index">
        <mat-card-subtitle>Крок рецепту</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <mat-label>Назва</mat-label>
          <input matInput name="stepTitle-{{index}}" maxlength="128"
            [(ngModel)]="step.title">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Опис</mat-label>
          <textarea matInput name="stepDescription-{{index}}" maxlength="2048"
            [(ngModel)]="step.description"></textarea>
        </mat-form-field>
        <input type="file" class="hide" (change)="uploadStepImage(index, $event)" #stepImage>
        <button (click)="stepImage.click()" class="indent" mat-stroked-button color="primary">Завантажити зображення</button>
        <mat-card  class="imagePreview" *ngIf="step.image?.data as stepImage">
          <mat-card-subtitle>Прев'ю зображення</mat-card-subtitle>
          <img [src]="'data:image/jpeg;base64,' + stepImage" />
          <button mat-stroked-button color="warn" (click)="removeStepImage(index)">Видалити зображення</button>
        </mat-card>
        <button (click)="removeStep(index)" mat-stroked-button color="warn">Видалити крок</button>
      </mat-card>
      <button (click)="addStep()" class="indent" mat-stroked-button color="primary">Додати крок</button>
      <mat-divider></mat-divider>
      <div class="actions">
        <button
          [disabled]="recipeForm.invalid"
          mat-raised-button
          color="primary"
          class="edit-button"
          *ngIf="!isNew"
          (click)="onSave()">
          Зберегти рецепт</button>
        <button
          [disabled]="recipeForm.invalid"
          mat-raised-button
          [color]="isNew ? 'primary' : 'basic'"
          class="save-button"
          (click)="onCreate()">
          Створити новий рецепт</button>
      </div>
    </form>
  </mat-card>
</div>
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    <span>Завантаження рецепту...</span>
  </div>
</ng-template>
