:host {
  width: 100%;
}

.RecipeEditor {
  width: 100%;
  display: flex;
  justify-content: center;

  .indent {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .tags {
    button.mat-icon-button {
      width: 36px;
      height: 36px;
      mat-icon {
        font-size: 24px;
      }
    }
  }
}

.RecipeContainer {
  // margin-bottom: 16px;
  width: 900px;

  mat-checkbox {
    margin-left: 2px;
  }

  .Ingredients-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    mat-card {
      margin-bottom: 12px;
      margin-right: 12px;
      margin-top: 0px;
      margin-left: 0px;
      width: 260px;
      mat-card-header {
        align-items: center;
        button {
          margin-top: -16px;
        }
      }
      .weight {
        display: flex;
        justify-content: space-between;
        mat-form-field {
          width: 48%;
        }
      }
    }
    .indent {
      margin-top: 16px;
      margin-bottom: 0px;
    }
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    mat-form-field {
      width: 216px;
      &:not(:last-of-type) {
        margin-right: 12px;
      }
    }
  }

  .ingredient-button {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  .imagePreview {
    width: fit-content;
    margin: 16px 0px;

    img {
      max-width: 100%;
      max-height: 200px;
    }
  }

  input, button {
    display: block;
  }

  mat-form-field {
    display: block;
  }

  mat-card {
    margin: 8px 0px;
  }

  .hide {
    display: none;
  }

  .actions {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;

    button {
      font-size: 16px;
      &.edit-button {
        margin-right: 16px;
      }
    }
  }
}

