<div class="FiltersSearchSection">
  <mat-list role="filtersList">
    <mat-list-item role="listitem">
      <mat-radio-button color="primary" (change)="setFilter(0)" [checked]="!currFilterId">
        <strong>Новий фільтр</strong>
      </mat-radio-button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div class="filters-list">
      <ng-container *ngIf="filters else loading">
        <mat-list-item role="listitem" *ngFor="let filter of filters">
          <mat-radio-button color="primary"
            class="wrap"
            [checked]="currFilterId === filter.id"
            (change)="setFilter(filter?.id)">
            {{ filter?.filterTitle }}
            <div *ngIf="filter.isDefault" class="chip">стандартний</div>
          </mat-radio-button>
          <button mat-icon-button *ngIf="!filter.isDefault || auth.isAdmin" (click)="removeFilter(filter.id)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
    </div>
  </mat-list>
  <div class="actions">
    <mat-form-field [class.hidden]="!auth.isAuthorized || null" class="filter-name" appearance="outline">
      <mat-label>Назва фільтру</mat-label>
      <input matInput name="filters-search" ngModel #filterName maxlength="512" required pattern=".*\S+.*">
    </mat-form-field>
    <mat-checkbox #defaultFilter [hidden]="!auth.isAdmin || null" name="default-filter"
      color="primary">Стандартний</mat-checkbox>
    <button mat-stroked-button
      [class.hidden]="!auth.isAuthorized || null"
      [disabled]="filterName?.value?.trim() ? null : true"
      matTooltip="спочатку потрібно вказати назву"
      color="primary"
      class="filter-save"
      (click)="saveFilter(filterName?.value?.trim(), defaultFilter?.checked); filterName.value = null">
      Зберегти поточний фільтр</button>
    <button mat-stroked-button (click)="setFilter(0)" color="warn">Скинути фільтр</button>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    <span>Завантаження фільтрів...</span>
  </div>
</ng-template>
