.FiltersSearchSection {
  mat-card {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 8px 16px;
    h5 {
      margin-bottom: 0px;
    }
  }
}
