.FiltersSearchSection {
  mat-card {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 8px 16px;
    h3 {
      margin-bottom: 0px;
    }
  }

  .chip {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 16px;
    font-size: 14px;
    padding: 6px 12px;
    font-weight: 500;
    margin: 0px 8px;
  }

  mat-chip-list {
    margin-left: 8px;
    display: inline-block;
  }

  .filters-list {
    max-height: 300px;
    overflow: auto;

    mat-icon {
      font-size: 20px;
    }

    mat-list-item {
      height: fit-content;
      margin-top: 8px;
      margin-bottom: 8px;
      min-height: 40px;
      display: flex;
      align-items: center;
    }
  }

  .filter-name {
    margin-right: 8px;
  }

  .hidden {
    display: none;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .filter-save {
      margin-right: 8px;
    }
    button {
      height: fit-content;
      margin-bottom: 7px;
    }
    mat-checkbox {
      margin-right: 8px;
      margin-bottom: 6px;
    }
  }
}
