<div class="SignUp">
  <h2>Реєстрація</h2>
  <form [formGroup]="formModel" autocomplete="off">
    <mat-form-field>
      <mat-label>Логін</mat-label>
      <input matInput formControlName="login" required (blur)="checkLogin()">
      <mat-error *ngIf="loginCtrl.hasError('unique')">Користувач з таким логіном вже існує</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Електронна пошта</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Повне ім'я</mat-label>
      <input matInput formControlName="fullName" autocomplete="off">
    </mat-form-field>
    <div formGroupName="passwords" class="passwords">
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput [type]="hidePswrd ? 'password' : 'text'" formControlName="password" required autocomplete="new-password">
        <button [disabled]="passwordCtrl.value ? null : true" class="visibility"
          color="primary" mat-icon-button matSuffix (click)="hidePswrd = !hidePswrd">
          <mat-icon>{{ hidePswrd ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Підтвердження паролю</mat-label>
        <input type="password" matInput required
          formControlName="confirmPassword" autocomplete="new-password">
        <mat-error *ngIf="confirmPswrdCtrl.hasError('passwordMismatch')">Паролі не збігаються</mat-error>
      </mat-form-field>
    </div>
    <div class="actions">
      <button mat-raised-button
        color="primary"
        [disabled]="!formModel.valid"
        (click)="onSubmit()">
        Реєстрація
      </button>
      <button mat-raised-button
        class="submit-admin"
        color="accent"
        [disabled]="!formModel.valid"
        (click)="onSubmit(true)">
        Реєстрація адміністратора
      </button>
    </div>
  </form>
</div>
