<div class="TestContainer">
  <button mat-button routerLink="/recipes/new" mat-raised-button>New recipe</button>
  Tags: {{ tags.length }}
  <div *ngFor="let tag of tags">
    <h2>[{{ tag.id }}] {{ tag.title }}</h2>
  </div>
  Images: {{ images.length }}
  <!-- <div *ngFor="let image of images">
    <h3>[{{ image.id }}] {{ image.title }}</h3>
    <img *ngIf="image.data" [src]="'data:image/jpeg;base64,' + image.data" />
  </div> -->
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Tag</mat-label>
        <input matInput class="form-control" [(ngModel)]="newTag" />
    </mat-form-field>
  </form> -->
  <div class="form-group">
    <div>Tag</div>
    <input type="text" class="form-control" name="tagSet" [(ngModel)]="newTag" />
  </div>
  <button mat-raised-button (click)="onSave()">Save</button>
  <div style="margin-top: 20px;">
    <input type="file" (change)="onFileChanged($event)" style="display: none" #fileInput>
    <button mat-raised-button (click)="fileInput.click()">Select file</button>
  </div>
  <!-- <app-image-upload [filesNumberLimit]="1" [allowedExtensions]="['png', 'jpeg', 'jpg']" (filesChange)="onFilesChange($event)"></app-image-upload> -->
  <button (click)="onUpload()">Upload image</button>
  <ng-container *ngIf="imageSrc">
    <img [src]="imageSrc" />
  </ng-container>
</div>
<!-- <h3> {{ response || 'error' }}</h3> -->
