<mat-toolbar color="primary"><h1>Пошук рецептів</h1></mat-toolbar>
<div class="RecipeSearch">
  <mat-accordion multi="true">
    <app-expansion-panel
      headerTitle="Загальні обмеження"
      description="Назва, тривалість, калорійність">
      <app-limits-search-section></app-limits-search-section>
    </app-expansion-panel>
    <app-expansion-panel
      headerTitle="Фільтри"
      description="Збережені фільтри"
      [actions]="">
      <app-filters-search-section (search)="onSearchByFilter($event)"></app-filters-search-section>
    </app-expansion-panel>
    <app-expansion-panel
      headerTitle="Інгредієнти"
      description="Пошук за інгредієнтами">
      <app-ingredients-search-section></app-ingredients-search-section>
    </app-expansion-panel>
    <app-expansion-panel
      headerTitle="Тегі"
      description="Пошук за тегами">
      <app-tags-search-section></app-tags-search-section>
    </app-expansion-panel>
    <app-expansion-panel
      headerTitle="Прев'ю"
      description="Усі критерії пошуку">
      <app-preview-search-section></app-preview-search-section>
    </app-expansion-panel>
  </mat-accordion>
  <button mat-raised-button class="ml-8 mt-8" color="primary" (click)="onSearch()">Пошук</button>
  <app-recipe-list></app-recipe-list>
</div>
