:host {
  width: 100%;
}

.RecipeContainer {
  margin-bottom: 16px;
  // max-width: 1200px;

  .imagePreview {
    max-width: 400px;
    max-height: 200px;
  }

  input, button {
    display: block;
  }

  .matSearch {
    height: 32px;
    color: grey;
    padding-left: 16px;
  }

  mat-form-field {
    display: block;
  }

  button {
    margin: 8px 0px;
  }

  mat-card {
    margin: 8px 0px;
  }

  .hide {
    display: none;
  }
}

