<div class="Login">
  <h1>Sign In</h1>
  <form #form='ngForm' autocomplete="off">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput name="userName" [(ngModel)]="formModel.login" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password" [(ngModel)]="formModel.password" required>
    </mat-form-field>
    <button mat-raised-button color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
      styles="margin-top: 8px;">
      Login
    </button>
  </form>
</div>
