<div class="FileSelect" *ngIf="!inline">
  <div draggable="true" [class]="draggableDivClass" (click)="fileInput.click()">
    <ng-container *ngFor="let file of files">
      <div class="FileSelect-FileCard">
        <div class="FileSelect-FileCard-Close">
          <button class="btn btn-icon small" (click)="$event.stopPropagation(); onRemoveFileClicked(file)">
            <i class="material-icons" aria-hidden="true">clear</i>
          </button>
        </div>
        {{file.name}} ({{file.size}})
      </div>
    </ng-container>
    <ng-container *ngIf="!filesNumberLimit || filesNumberLimit && files.length < filesNumberLimit">
      <div class="FileSelect-Prompt">
        <i class="material-icons" aria-hidden="true">cloud_upload</i>
        <span class="FileSelect-PromptText">
          <ng-container >Drag &amp; drop {filesNumberLimit || 0, plural, =1 {file} other {files}} here, or</ng-container>
          <!-- ng container apparently strips out adjacent and inner trailing whitespaces, so here's the way to add ONE whitespace between localized text parts -->
          <ng-container>&nbsp;</ng-container>
          <a href="#" (click)="$event.preventDefault(); $event.stopPropagation(); fileInput.click()">browse</a>
        </span>
      </div>
    </ng-container>
  </div>
</div>
<div class="InlineFileSelect" *ngIf="inline">
  <div draggable="true" [class]="draggableDivClass" (click)="fileInput.click()">
    <div class="InlineFileSelect-FileCard" *ngIf="files.length === 1">
      <div class="InlineFileSelect-FileCard-Close">
        <button class="btn btn-icon small" (click)="$event.stopPropagation(); onRemoveFileClicked(files[0])">
          <i class="material-icons" aria-hidden="true">clear</i>
        </button>
      </div>
      {{files[0].name}} ({{files[0].size}})
    </div>
    <ng-container *ngIf="files.length === 0">
      <div class="InlineFileSelect-Prompt">
        <i class="material-icons mr-8" aria-hidden="true">cloud_upload</i>
        <span class="InlineFileSelect-PromptText">
          <ng-container >Drag &amp; drop {filesNumberLimit || 0, plural, =1 {file} other {files}} here, or</ng-container>
          <!-- ng container apparently strips out adjacent and inner trailing whitespaces, so here's the way to add ONE whitespace between localized text parts -->
          <ng-container>&nbsp;</ng-container>
          <a href="#" (click)="$event.preventDefault(); $event.stopPropagation(); fileInput.click()">browse</a>
        </span>
      </div>
    </ng-container>
  </div>
</div>
<input #fileInput type="file" (change)="onFileInputChanged($event)" style="display:none" [multiple]="(!filesNumberLimit || filesNumberLimit>1) ? true : null"/>
