.IngredientsSearchSection {
  padding-top: 4px;

  &-content {
    max-height: 500px;
    overflow: auto;
  }

  &-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
    min-height: 48px;
    align-items: center;
    word-break: break-word;
    mat-chip {
      height: 32px;
    }
  }

  mat-slide-toggle {
    height: 32px;
    &:first-of-type {
      margin-right: 32px;
    }
  }

  mat-chip-list {
    display: inline-block;
  }

  .filter-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    // padding-top: 4px;

    mat-form-field.search {
      margin-right: 24px;
      margin-bottom: -18px;
      margin-top: 4px;
      line-height: 16px;
      width: 230px;
    }

    > button {
      &:first-of-type {
        margin-right: 8px;
      }
      margin-top: 4px;
      margin-bottom: 4px;
    }

  }

    // td.mat-column-requiredSelect, td.mat-column-notRequiredSelect  {
    //   min-width: 50px;
    // }

    // td.mat-column-star {
    //   width: 20px;
    //   padding-right: 8px;
    // }

    // th.mat-column-position, td.mat-column-position {
    //   padding-left: 8px;
    // }

    // .mat-table-sticky:nth-child(2) {
    //   border-right: 1px solid #e0e0e0;
    // }

    // .mat-table-sticky:nth-last-child(2) {
    //   border-left: 1px solid #e0e0e0;
    // }


  // mat-list-item {
  //   border: 2px dotted white;
  //   margin: 2px 0px;
  // }

  mat-form-field {
    margin-bottom: -16px;
  }

}
