<div class="IngredientsSearchSection">
  <mat-slide-toggle
    [checked]="byAvailable"
    (change)="toggleByAvailableProducts($event.checked)">
    Шукати за наявними продуктами
  </mat-slide-toggle>
  <mat-slide-toggle
    [checked]="byExactProducts"
    matTooltip="пошук за продуктами, не враховуючи категорії"
    (change)="toggleByExactProducts($event.checked)">
    Шукати за точною назвою продуктів
  </mat-slide-toggle>
  <mat-divider></mat-divider>
  <div class="filter-header">  <mat-form-field class="search">
      <mat-label>Фільтрація за назвою продукту</mat-label>
      <input matInput name="product-search"
        #searchProducts (input)="searchByName(searchProducts.value)" placeholder="Назва продукту...">
      <button mat-icon-button matSuffix (click)="searchByName(searchProducts.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button
      (click)="changeRootProduct(null)">
      Показати усі продукти
    </button>
    <button mat-stroked-button
      (click)="changeRootProduct(0)">
      Показати основні категорії
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="IngredientsSearchSection-header">
    <ng-template let-rootProduct
      [ngTemplateOutletContext]="{ $implicit: getProduct(rootProductId) }"
      [ngTemplateOutlet]="currT" #currT>
      <button *ngIf="rootProduct" mat-icon-button (click)="goBack()">
        <mat-icon class="mat-icon-rtl-mirror">keyboard_return</mat-icon>
      </button>
      {{ rootProduct?.name || 'Список продуктів'}}
      <mat-chip-list>
        <mat-chip *ngIf="rootProduct"
          class="ml-8"
          (click)="changeProductStatus(rootProduct.id)"
          [style.background-color]="statusColor(rootProduct.necessity)">
          {{ statusLabel(rootProduct.necessity) }}
        </mat-chip>
      </mat-chip-list>
    </ng-template>
    <mat-divider class="dotted"></mat-divider>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="productsSource" matSort>
      <ng-container matColumnDef="subcategories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Продукти</th>
        <td mat-cell *matCellDef="let row">
          <button *ngIf="row.subcategories?.length" mat-icon-button (click)="changeRootProduct(row.id)">
            <mat-icon >expand_more</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва </th>
        <td mat-cell *matCellDef="let element" (click)="openProductDialog(element.id)"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Калорії (ккал) </th>
        <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
      </ng-container>

      <ng-container matColumnDef="squirrels">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Білки (г) </th>
        <td mat-cell *matCellDef="let element"> {{element.squirrels}} </td>
      </ng-container>

      <ng-container matColumnDef="carbohydrates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Вуглеводи (г) </th>
        <td mat-cell *matCellDef="let element"> {{element.carbohydrates}} </td>
      </ng-container>

      <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Жири (г) </th>
        <td mat-cell *matCellDef="let element"> {{element.fats}} </td>
      </ng-container>

      <ng-container matColumnDef="sugar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Сахар (г) </th>
        <td mat-cell *matCellDef="let element"> {{element.sugar}} </td>
      </ng-container>

      <ng-container matColumnDef="requiredSelect">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="onGroupRequiredChecked($event)"
                        [checked]="isAllRequired"
                        matTooltip="обов'язкові продукти"
                        color="primary"
                        [indeterminate]="areAnyRequired">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="onRequiredChecked($event, row)"
                        color="primary"
                        [checked]="isRequired(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="notRequiredSelect">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="onGroupNotRequiredChecked($event)"
                        color="warn"
                        [matTooltip]="notRequiredHint"
                        [checked]="isAllNotRequired"
                        [indeterminate]="areAnyNotRequired">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        color="warn"
                        (change)="onNotRequiredChecked($event, row)"
                        [checked]="isNotRequired(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </div>
  <!-- <mat-list class="IngredientsSearchSection-content">
    <ng-container *ngFor="let productId of (currProducts$ | async)">
      <ng-container *ngIf="getProduct(productId) as product">
        <mat-list-item [style.border-color]="getProductColor(product.necessity)">
            <button *ngIf="product.subcategories?.length" mat-icon-button (click)="changeRootProduct(productId)">
              <mat-icon >expand_more</mat-icon>
            </button>
            <span>{{ product?.name }}
              ({{ product?.subcategories?.length || 0 }})
              [{{ product?.categories?.length || 0 }}]
              {{ product?.necessity }}</span>
            <mat-radio-group class="ml-8" aria-label="Select necessity"
              (change)="onChangeNecessity(productId, $event)" [ngModel]="product.necessity?.toString()">
              <mat-radio-button *ngIf="!byAvailable" class="red" value="2"></mat-radio-button>
              <mat-radio-button class="blue" value="1"></mat-radio-button>
              <mat-radio-button *ngIf="byAvailable" class="orange" value="3"></mat-radio-button>
              <mat-radio-button class="green" value="4"></mat-radio-button>
            </mat-radio-group>
        </mat-list-item >
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!(currProducts$ | async)?.length">
      Нема продуктів
    </ng-container>
  </mat-list> -->
</div>
