<mat-card class="RecipeContainer">
  <form>
    <mat-card>
      <mat-label>Завантажити існуючий рецепт</mat-label>
      <mat-form-field>
        <mat-label>Номер рецепту</mat-label>
        <input type="number" matInput #recipeId>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getRecipe(recipeId.value)">Завантажити</button>
    </mat-card>
    <mat-form-field class="">
      <mat-label>Назва рецепту</mat-label>
      <input matInput name="recipeTitle"
        [(ngModel)]="currRecipe.title">
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Опис рецепту</mat-label>
      <textarea matInput name="recipeDescription"
        [(ngModel)]="currRecipe.description"></textarea>
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Вміст калорій (на 100 гр)</mat-label>
      <input matInput type="number" name="calories"
        [(ngModel)]="currRecipe.calories">
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Кількість порцій</mat-label>
      <input matInput type="number" name="portions"
        [(ngModel)]="currRecipe.portions">
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Час приготування (в хвилинах)</mat-label>
      <input matInput type="number" name="duration"
        [(ngModel)]="currRecipe.duration">
    </mat-form-field>

    <input type="file" class="hide" (change)="uploadRecipeImage($event)" #recipeImage>
    <button (click)="recipeImage.click()" mat-raised-button>Завантажити зображення</button>
    <mat-card *ngIf="currRecipe.image?.data as data">
      <mat-card-title>Прев'ю зображення</mat-card-title>
      <img class="imagePreview" [src]="'data:image/jpeg;base64,' + data" />
      <button (click)="removeRecipeImage()" mat-raised-button>Видалити зображення</button>
    </mat-card>

    <mat-card *ngFor="let ingredient of currRecipe.ingredients; let index = index">
      <mat-card-title>Інгрідієнт</mat-card-title>
      <mat-card-subtitle *ngIf="ingredient?.product?.name as productName">{{ productName }}</mat-card-subtitle>
      <mat-form-field>
        <mat-label>Продукт</mat-label>
        <mat-select name="productSelect-{{index}}" [(ngModel)]="ingredient.product" placeholder="Оберіть продукт">
          <!-- <input placeholder="Оберіть продукт" class="matSearch" matInput> -->
          <mat-option *ngFor="let product of products" [value]="product">{{ product.name }} [{{product.id}}]</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Примітка</mat-label>
        <textarea matInput name='ingredientName-{{index}}'
          [(ngModel)]="ingredient.note"></textarea>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Вага (в грамах)</mat-label>
        <input matInput type="number" name="weight-{{index}}"
          [(ngModel)]="ingredient.weight">
      </mat-form-field>
      <mat-checkbox name="necessity-{{index}}" color="primary" [(ngModel)]="ingredient.necessity">Цей продукт обов'язковий</mat-checkbox>
      <button (click)="removeIngredient(index)" mat-raised-button>Видалити</button>
    </mat-card>
    <button (click)="addIngredient()" mat-raised-button>Додати інгрідієнт</button>

    <mat-card *ngFor="let tag of currRecipe.tags; let index = index">
      <mat-card-title>Тег</mat-card-title>
      <mat-form-field class="">
        <mat-label>Назва</mat-label>
        <input matInput name="tagName-{{index}}"
          [(ngModel)]="tag.tag">
      </mat-form-field>
      <button (click)="removeTag(index)" mat-raised-button>Видалити</button>
    </mat-card>
    <button (click)="addTag()" mat-raised-button>Додати тег</button>

    <mat-card *ngFor="let step of currRecipe.steps; let index = index">
      <mat-card-title>Крок рецепту</mat-card-title>
      <!-- <mat-form-field class="">
        <mat-label>Номер</mat-label>
        <input matInput name="stepOrderNumber-{{index}}" type="number"
          [(ngModel)]="step.orderNumber">
      </mat-form-field> -->
      <mat-form-field class="">
        <mat-label>Назва</mat-label>
        <input matInput name="stepTitle-{{index}}"
          [(ngModel)]="step.title">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Опис</mat-label>
        <textarea matInput name="stepDescription-{{index}}"
          [(ngModel)]="step.description"></textarea>
      </mat-form-field>
      <input type="file" class="hide" (change)="uploadStepImage(index, $event)" #stepImage>
      <button (click)="stepImage.click()" mat-raised-button>Завантажити зображення</button>
      <mat-card *ngIf="step.image?.data as stepImage">
        <mat-card-title>Прев'ю зображення</mat-card-title>
        <img name="imagePreviewCard-{{index}}" class="imagePreview" [src]="'data:image/jpeg;base64,' + stepImage" />
        <button (click)="removeStepImage(index)" mat-raised-button>Видалити зображення</button>
      </mat-card>
      <button (click)="removeStep(index)" mat-raised-button>Видалити</button>
    </mat-card>
    <button (click)="addStep()" mat-raised-button>Додати крок</button>
  </form>
  <button mat-raised-button color="primary" (click)="onSave()">Зберегти</button>
</mat-card>

