.SearchPreview {

  &-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .ProductsContainer {
      // width: 40%;
      min-width: 250px;
      word-wrap: break-word;
      max-height: 500px;
      overflow: auto;
      margin-bottom: 16px;
      margin-top: 16px;
      &:not(:last-of-type) {
        margin-right: 16px;
      }
    }
  }

  &-general {
    .label {
      strong {
        font-weight: 500;
        padding-right: 8px;
      }
      padding: 8px 0px;
    }
  }

  &-tags {
    mat-chip-list {
      &.required {
        mat-chip {
          background-color: #d8ffd5;
        }
      }
      &.forbidden {
        mat-chip {
          background-color: #ffd5d5
        }
      }
    }
  }
}
