.SearchPreview {

  &-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .ProductsContainer {
      // width: 40%;
      min-width: 250px;
      word-wrap: break-word;
      margin-bottom: 16px;
      margin-top: 16px;
      mat-card-subtitle {
        font-size: 16px;
      }
      mat-selection-list {
        max-height: 400px;
        overflow: auto;
      }
      &:not(:last-of-type) {
        margin-right: 16px;
      }
      mat-icon {
        font-size: 20px;
      }
    }
  }

  &-general {
    .label {
      strong {
        font-weight: 500;
        padding-right: 8px;
      }
      padding: 8px 0px;
    }
    mat-icon {
      font-size: 20px;
      margin-top: -4px;
      margin-left: -4px;
    }
  }

  &-tags {
    mat-chip-list {
      &.required {
        mat-chip {
          background-color: #b9ffb4;
        }
      }
      &.forbidden {
        mat-chip {
          background-color: #ffb9b9;
        }
      }
    }
  }
}
