:host {
  width: 100%;
}

.RecipeDetails {
  &-content {

    .steps {
      margin-top: 32px;
    }

    .mat-subheader {
      font-size: 24px;
    }

    .outer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .indent {
      margin-bottom: 16px;
    }

    .description.container:only-child {
      border: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .outer-container {
    flex-wrap: wrap;

    .description.container {
      margin-top: 16px;
      width: 100%;
      &:only-child {
        margin-top: 0px;
      }
    }
    .image-container {
      margin-right: 0px;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

.container {
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #c2c1c1;
  &.ingredients {
    p.note {
      white-space: normal;
      word-break: break-word;
      margin-bottom: 4px;
    }
    .ingredients-header {
      display: flex;
      justify-content: space-between;
      .portions {
        margin-right: 16px;
        mat-form-field {
          width: 50px;
          margin-top: -12px;
          margin-left: 4px;
        }
      }
    }
    mat-chip-list {
      display: inline-block;
    }
    mat-list-item {
      height: auto;
      min-height: 48px;
      margin-left: -16px;

      &.ingredients-description {
        margin-left: 0px;
      }

      &.changed {
        .weight {
          font-style: italic;
          font-weight: 300;
        }
      }
      &:last-of-type {
        mat-divider {
          display: none;
        }
      }
    }
  }
  &.description {
    width: 50%;
    font-size: 16px;
    margin-bottom: 2px;
    strong {
      font-weight: 500;
    }
    &:only-child {
      width: 100%;
    }
  }
}

.general {
  .container.description {
    padding-top: 0px;
  }
}

.image-container {
  width: calc(50% - 32px);
  flex-shrink: 0;
  margin-right: 16px;

  img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
  }
}

.grey {
  color: grey;
}
