<div class="RecipeDetails-content" *ngIf="recipe; else spinner">
  <section class="general outer-container indent">
    <div class="image-container" *ngIf="(recipe.imageSrc$ | async) as image">
      <img [src]="image" alt="">
    </div>
    <div class="description container">
      <div class="text">
        <p><strong>Тривалість приготування:</strong>&nbsp;{{ durationStr }}</p>
        <p><strong>Калорійність на 100 г:</strong>&nbsp;
          {{ recipe.calories ? recipe.calories +'&nbsp;ккал' : 'н/д' }}</p>
        <p><strong>Вага однієї порції:</strong>&nbsp;
          {{ recipe.servingWeight ? recipe.servingWeight +'&nbsp;г' : 'н/д' }}</p>
          <p><strong>Кількість порцій:</strong>&nbsp;&nbsp;{{ recipe.portions || 'н/д' }}</p>
        <p *ngIf="recipe.description">{{ recipe.description }}</p>
      </div>
      <div class="author-time">
        <div class="author" *ngIf="recipe.authorName as author">
          <mat-icon matTooltip="автор рецепту" color="primary">account_circle</mat-icon>
          <a>{{ author }}</a>
        </div>
        <div class="time" *ngIf="recipe.time as time">
          <mat-icon matTooltip="дата створення" color="primary">schedule</mat-icon>
          {{ time | date:"dd/MM/yyyy hh:mm:ss" }}
        </div>
      </div>
    </div>

  </section>
  <section class="tags indent" *ngIf="recipe.tags as tags">
    <mat-chip-list>
      <mat-chip color="accent" selected *ngFor="let tag of tags">{{ tag.tag }}</mat-chip>
    </mat-chip-list>
  </section>
  <mat-list class="ingredients container indent">
    <div class="ingredients-header">
      <h2 mat-subheader>Інгредієнти</h2>
      <div class="portions" *ngIf="recipe.portions">
        Порції:
        <mat-form-field name="portionsChange">
          <input matInput #portionsInput type="number" [ngModel]="recipe.portions"
            (change)="portionsInput.value > 0 ? changeCurrPortions(portionsInput.value): portionsInput.value = 1">
        </mat-form-field>
      </div>
    </div>
    <mat-list-item *ngFor="let ingredient of recipe.ingredients || []" [class.changed]="portionsCoef != 1">
      <button mat-icon-button color="primary"
        [disabled]="ingredient.product ? null : true"
        (click)="openProduct(ingredient.product?.id)">
        <mat-icon matListIcon>info</mat-icon>
      </button>
      <span matLine>
        <strong [matTooltip]="ingredient.title">{{ ingredient.product?.name || '?'}}</strong>
        <span *ngIf="!ingredient.necessity" class="grey">&nbsp;(опціональний)</span>
        &nbsp;-
        <span class="weight" *ngIf="ingredient.weight; else weightInGramsTemplate">
          {{ ingredient.weight * portionsCoef | number: '1.0-3' }}
          <span *ngIf="ingredient.weightMeasurement as value" [matTooltip]="getMeasurementTitle(value)">
            {{ value }}</span>
          <span *ngIf="ingredient.weightInGrams as grams" matTooltip="грам">
            ({{ ingredient.weightInGrams * portionsCoef | number: '1.0-3' }} г)</span>
        </span>
      </span>
      <ng-template #weightInGramsTemplate>
        <span *ngIf="ingredient.weightInGrams" class="weight" matTooltip="грам">
          {{ ingredient.weightInGrams * portionsCoef | number: '1.0-3' }} г</span>
        <span *ngIf="!ingredient.weightInGrams">?</span>
      </ng-template>
      <p class="note" matLine *ngIf="ingredient.note" [matTooltip]="ingredient.title">
        {{ ingredient.note }}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item class="ingredients-description" *ngIf="recipe.ingredientsDescription as description">
      {{ description }}
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <section class="steps" *ngIf="recipe.steps?.length">
    <div class="container" *ngFor="let step of recipe.steps">
      <div class="outer-container">
        <div class="image-container" *ngIf="(step?.imageSrc$ | async) as image">
          <img [src]="image" alt="">
        </div>
        <div class="description container">
          <mat-card-subtitle>{{ step.title || ('Крок ' + step.orderNumber) }}</mat-card-subtitle>
          {{ step.description }}
        </div>
      </div>
    </div>
  </section>
</div>
<ng-template #spinner>
<div class="spinner-container">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    <span>Завантаження даних...</span>
  </div>
</div>
</ng-template>
