<mat-toolbar color="primary">
  <h1>{{ pageTitle }}</h1>
  <button mat-icon-button class="sort-select" *ngIf="recipes?.length"
    matTooltip="сортування рецептів" [matMenuTriggerFor]="editMenu">
    <mat-icon>sort</mat-icon>
  </button>
  <a *ngIf="isRecipeCtrl" mat-icon-button matTooltip="створити рецепт"
    routerLink="/recipes/new" [queryParams]="{ from: 'my' }">
    <mat-icon>add</mat-icon>
  </a>
  <mat-menu #editMenu="matMenu">
    <button mat-menu-item
      *ngFor="let option of sortOptions"
      (click)="sortRecipes(option.type)"
      [matTooltip]="option.title">
      {{ option.name }}
    </button>
  </mat-menu>
</mat-toolbar>
<div class="ProfileRecipes container">
  <div class="content">
    <app-recipe-list [recipes]="recipes" [enableEditing]="isRecipeCtrl" noRecipesLabel="Нема доступних рецептів">
    </app-recipe-list>
  </div>
</div>
