.RecipeList {
  margin-bottom: 32px;

  &-recipes {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .recipe-card {
      margin: 8px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;

      &-content {
        display: flex;
        height: 500px;
        flex-direction: column;
        mat-card-title {
          word-break: break-word;
        }
        word-break: break-word;
      }

      mat-card-content {
        overflow: auto;
      }

      .imageContainer {
        flex-shrink: 0;
        max-height: 200px;
        overflow: hidden;
        margin: -16px;
        margin-bottom: 12px;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
      }
    }
  }

  &-noRecipes {
    width: 100%;
    display: flex;
    justify-content: center;
    .thin {
      font-weight: 300;
    }
  }
}
