<div class="RecipeList">
  <ng-container *ngIf="recipesCount > 0; else noRecipes">
    <mat-paginator [length]="recipesCount"
      #paginator
      [pageSize]="itemsPerPage"
      [pageIndex]="currentPage"
      (page)="pageEvent = onChangePage($event)"
      [pageSizeOptions]="itemsOptions">
    </mat-paginator>
    <div class="RecipeList-recipes">
      <mat-card class="recipe-card" *ngFor="let recipe of currRecipes">
        <div class="recipe-card-content" (click)="openRecipeDialog(recipe.id)">
          <div class="imageContainer" *ngIf="recipe.imageSrc$ | async as image">
            <img [src]="image">
          </div>
          <mat-card-title>{{ recipe.title }}</mat-card-title>
          <mat-card-content>
            {{ recipe.description }}
          </mat-card-content>
        </div>
        <div class="recipe-card-footer">
          <div class="time" matTooltip="дата створення" *ngIf="recipe.time as time">
            {{ time | date:"dd/MM/yyyy hh:mm:ss" }}
          </div>
          <mat-divider></mat-divider>
          <div class="actions">
            <a mat-stroked-button
              color="primary"
              [routerLink]="['/recipes', recipe.id, 'details']"
              [queryParams]="{ back: backParam }">Деталі</a>
            <ng-container *ngIf="auth.isAuthorized">
              <a *ngIf="canEditRecipe(recipe.authorId)" mat-stroked-button
                [routerLink]="['/recipes', recipe.id, 'edit']"
                [queryParams]="{ from: backParam }">
                Редагувати</a>
              <button *ngIf="canDeleteRecipe(recipe.authorId)" mat-stroked-button
               (click)="deleteRecipe(recipe.id, recipe.title)" color="warn">
                Видалити</button>
            </ng-container>
          </div>
        </div>
      </mat-card>
    </div>
    <mat-paginator *ngIf="recipesCount > 0"
      [length]="recipesCount"
      #paginatorFooter
      [pageSize]="itemsPerPage"
      [pageIndex]="currentPage"
      (page)="pageEvent = onChangePage($event)"
      [pageSizeOptions]="itemsOptions">
    </mat-paginator>
  </ng-container>
  <ng-template #noRecipes>
    <div class="RecipeList-noRecipes">
      <h3 *ngIf="recipesCount === 0" class="thin">{{ noRecipesLabel }}</h3>
      <div class="spinner-container" *ngIf="allRecipes === null || allRecipes === undefined">
        <mat-spinner></mat-spinner>
        <span>Завантаження даних...</span>
      </div>
    </div>
  </ng-template>
</div>
