.RecipeList {

  &-recipes {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .recipe-card {
      margin: 8px 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;

      &-content {
        display: flex;
        max-height: 500px;
        flex-direction: column;
        word-break: break-word;
        mat-card-title {
          overflow: auto;
          word-break: break-word;
          min-height: 30px;
        }
      }

      mat-card-content {
        overflow: auto;
      }

      .time {
        font-size: 13px;
        font-weight: 300;
        margin-left: auto;
        width: fit-content;
        margin-bottom: 8px;
      }

      .imageContainer {
        flex-shrink: 0;
        max-height: 200px;
        overflow: hidden;
        margin: -16px;
        margin-bottom: 12px;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
      }
    }
  }

  &-noRecipes {
    width: 100%;
    display: flex;
    justify-content: center;
    .thin {
      font-weight: 300;
    }
  }
}
