<div class="ChangePassword">
  <h2>Зміна паролю</h2>
  <form [formGroup]="formModel" autocomplete="off">
    <mat-form-field>
      <mat-label>Логін</mat-label>
      <input matInput formControlName="login" required>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Електронна пошта</mat-label>
      <input matInput formControlName="email">
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Старий пароль</mat-label>
      <input matInput [type]="hideOldPswrd ? 'password' : 'text'" #oldPswrd
        formControlName="oldPassword" autocomplete="old-password" required>
      <button [disabled]="oldPswrd.value ? null : true" class="visibility"
        color="primary" mat-icon-button matSuffix (click)="hideOldPswrd = !hideOldPswrd">
        <mat-icon>{{ hideOldPswrd ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div formGroupName="newPassword" class="passwords">
      <mat-form-field>
        <mat-label>Новий пароль</mat-label>
        <input matInput [type]="hideNewPswrd ? 'password' : 'text'"
          formControlName="password" autocomplete="new-password" required>
        <button [disabled]="passwordCtrl.value ? null : true" class="visibility"
          color="primary" mat-icon-button matSuffix (click)="hideNewPswrd = !hideNewPswrd">
          <mat-icon>{{ hideNewPswrd ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Підтвердження паролю</mat-label>
        <input type="password" matInput required
          formControlName="confirmPassword" autocomplete="new-password">
        <mat-error *ngIf="confirmPswrdCtrl.hasError('passwordMismatch')">Паролі не збігаються</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button
      class="submit"
      color="primary"
      [disabled]="!formModel.valid"
      (click)="onSubmit()">
      Змінити пароль
    </button>
  </form>
</div>
