/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber';

html, body {
  // background-color: #acc8e7;
  height: 100%;
  // padding: 4px;
}
body {
  background-color: #fafafa;
  margin: 0; font-family: Roboto, Arial, sans-serif;
}

.flex {
  display: flex;
  &.flex-row {
    flex-direction: row;
  }
  &.flex-column {
    flex-direction: column;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
}

.m {
  &-0 {
    margin: 0 !important;
  }
  &-4 {
    margin: 4px !important;
  }
  &r-8 {
    margin-right: 8px !important;
  }
  &l-8 {
    margin-left: 8px !important;
  }
  &t-8 {
    margin-top: 8px !important;
  }
  &b-8 {
    margin-bottom: 8px !important;
  }
}



@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-cyan,800);
  $accent: mat-palette($mat-orange,400);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
// $dark-primary: mat-palette($mat-blue,800);
// $dark-accent: mat-palette($mat-orange,800);

// $dark-theme: mat-dark-theme($primary, $accent);

// .material-dark-theme {
//   @include angular-material-theme($dark-theme);
// }


mat-toolbar {
  width: 100%;
}

mat-chip {
  word-break: break-word;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  span {
    margin-top: 16px;
  }
}











mat-radio-button.custom {
  .mat-radio-container {
    height: 16px;
    width: 16px;
  }
  .mat-radio-outer-circle{
    height: 16px;
    width: 16px;
  }
  .mat-radio-inner-circle{
    height: 16px;
    width: 16px;
  }
  .mat-radio-button .mat-radio-ripple{
    height: 32px; //double of your required circle radius
    width: 32px;  //double of your required circle radius
    left: calc(50% - 16px); //'10px'-same as your required circle radius
    top: calc(50% - 16px); //'10px'-same as your required circle radius
  }
  &.red {
    border-color: #bb2323 !important;
    .mat-radio-outer-circle {
      border-color: #bb2323 !important;
    }
    .mat-radio-inner-circle {
      background-color: #bb2323 !important;
    }
  }
  &.green {
    border-color: #189c07 !important;
    .mat-radio-outer-circle {
      border-color: #189c07 !important;
    }
    .mat-radio-inner-circle {
      background-color: #189c07 !important;
    }
  }
  &.orange {
    border-color: #f3b407 !important;
    .mat-radio-outer-circle {
      border-color: #f3b407 !important;
    }
    .mat-radio-inner-circle {
      background-color: #f3b407 !important;
    }
  }
  &.blue {
    border-color: #294f96 !important;
    .mat-radio-outer-circle {
      border-color: #294f96 !important;
    }
    .mat-radio-inner-circle {
      background-color: #294f96 !important;
    }
  }
}

mat-form-field[appearance="outline"] {
  margin-bottom: -16px;
  margin-top: 4px;
  input {
    line-height: 16px;
  }
}


.table-container {
  max-height: 500px;
  // width: 800px;
  overflow: auto;

  table {
    width: 100%;
    td.mat-column-name {
      width: 200px;
      word-wrap: break-word;
    }

    .td {
      align-items: center;
      padding: 4px;
    }

    td.mat-column-subcategories {
      width: 48px;
    }

    td.mat-column-requiredSelect {
      min-width: 20px;
      max-width: 32px;
      margin-left: 8px;
    }

    td.mat-column-notRequiredSelect {
      min-width: 20px;
      max-width: 32px;
      margin-left: 8px;
    }
  }
}
