/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import 'src/app/styles/theme.scss';

html, body {
  // background-color: #acc8e7;
  height: 100%;
  // padding: 4px;
}
body {
  background-color: #fafafa;
  margin: 0; font-family: Roboto, Arial, sans-serif;
}

.flex {
  display: flex;
  &.flex-row {
    flex-direction: row;
  }
  &.flex-column {
    flex-direction: column;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
}

.m {
  &-0 {
    margin: 0 !important;
  }
  &-4 {
    margin: 4px !important;
  }
  &r-8 {
    margin-right: 8px !important;
  }
  &l-8 {
    margin-left: 8px !important;
  }
  &t-8 {
    margin-top: 8px !important;
  }
  &b-8 {
    margin-bottom: 8px !important;
  }
}



mat-toolbar {
  width: 100%;
}

mat-chip-list mat-chip.mat-standard-chip {
  word-break: break-word;
  height: fit-content;
}

mat-list {
  .mat-list-item .mat-list-text .mat-line {
    flex-wrap: wrap;
    word-break: break-word;
    white-space: normal;
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
  span {
    margin-top: 16px;
  }
}

.spinner-container-simple {
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

p {
  word-break: break-word;
}

.prev-page-icon {
  font-size: 26px;
}

.green {
  &.mat-checkbox-checked .mat-checkbox-background,
  &.mat-checkbox-indeterminate .mat-checkbox-background,
  .mat-pseudo-checkbox-checked,
  .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #24ae1f !important;
  }
  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element {
    background: #24ae1f !important;
  }
}

.available {
  .mat-checkbox-checked.mat-warn .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-warn .mat-checkbox-background,
  .mat-warn .mat-pseudo-checkbox-checked,
  .mat-warn .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: orange !important;
  }
  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element {
    background: orange !important;
  }
}

mat-radio-button.wrap {
  label {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

mat-form-field[appearance="outline"] {
  margin-bottom: -16px;
  margin-top: 4px;
  input {
    line-height: 16px;
  }
}


.table-container {
  max-height: 500px;
  // width: 800px;
  overflow: auto;

  table {
    width: 100%;
    td.mat-column-name {
      width: 200px;
      // word-wrap: break-word;
    }

    td, th {
      align-items: center;
      padding: 4px;
    }

    td {
      word-break: break-word;
    }

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
      padding-left: 0px;
    }
    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
      padding-right: 0px;
    }

    @media screen and (max-width: 660px) {
      .mat-column {
        &-squirrels, &-carbohydrates, &-fats {
          display: none;
        }
      }
    }

    td.mat-column-subcategories {
      width: 48px;
    }

    td.mat-column-requiredSelect {
      min-width: 20px;
      max-width: 32px;
      margin-left: 8px;
    }

    td.mat-column-notRequiredSelect {
      min-width: 20px;
      max-width: 32px;
      margin-left: 8px;
    }
  }
}
