/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber';

html, body {
  // background-color: #acc8e7;
  height: 100%;
  // padding: 4px;
}
body {
  margin: 0; font-family: Roboto, Arial, sans-serif;
}

.flex {
  display: flex;
  &.flex-row {
    flex-direction: row;
  }
  &.flex-column {
    flex-direction: column;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
}

.m {
  &-0 {
    margin: 0;
  }
  &-4 {
    margin: 4px;
  }
  &r-8 {
    margin-right: 8px;
  }
  &l-8 {
    margin-left: 8px;
  }
  &t-8 {
    margin-top: 8px !important;
  }
  &b-8 {
    margin-bottom: 8px;
  }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-cyan,800);
  $accent: mat-palette($mat-orange,400);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
// $dark-primary: mat-palette($mat-blue,800);
// $dark-accent: mat-palette($mat-orange,800);

// $dark-theme: mat-dark-theme($primary, $accent);

// .material-dark-theme {
//   @include angular-material-theme($dark-theme);
// }
