<ng-container *ngIf="currProduct; else loading">
  <h1 mat-dialog-title>{{currProduct.name}}</h1>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <div class="main">
      <div class="image-сontainer" *ngIf="currProduct.image?.data as image; else asyncImage">
        <img [src]="'data:image/jpeg;base64,' + image" alt="">
      </div>
      <ng-template #asyncImage>
        <div class="image-сontainer" *ngIf="currProduct?.imageSrc$ | async as image">
          <img [src]="image" alt="">
        </div>
      </ng-template>
      <div class="composition-container">
        <span class="label">Приблизний хімічний склад та харчова цінність (на 100 г):</span>
        <div class="composition-data">
          <div class="col">
            <p><strong>Калорійність: </strong>
              {{ currProduct.calories || 'н/д' }}<span>&nbsp;&nbsp;(ккал)</span></p>
            <p><strong>Жири: </strong>
              {{ currProduct.fats || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Білки: </strong>
              {{ currProduct.squirrels || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Вуглеводи: </strong>
              {{ currProduct.carbohydrates || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Вода: </strong>
              {{ currProduct.water || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Зола: </strong>
              {{ currProduct.ash || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
          </div>
          <div class="col">
            <p><strong>Цукор: </strong>
              {{ currProduct.sugar || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Крохмаль: </strong>
              {{ currProduct.starch || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Холестерин: </strong>
              {{ currProduct.cholesterol || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Клітковина: </strong>
              {{ currProduct.cellulose || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
            <p><strong>Транс жири: </strong>
              {{ currProduct.transFats || 'н/д' }}<span>&nbsp;&nbsp;(г)</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="description">
      <p>{{ currProduct.description }}</p>
      <div class="categories">
        <p><strong>Категорії:</strong></p>
        <ng-container *ngIf="categories; else simpleLoading">
          <mat-chip-list *ngIf="categories.length">
            <mat-chip color="accent" selected (click)="updateProduct(category.id)"
              *ngFor="let category of categories">
              {{ category?.name }}
            </mat-chip>
            <button mat-stroked-button color="primary" (click)="toggleCategories()">
              {{ this.areAllCategories ? 'Сховати' : 'Показати усі категорії' }}</button>
          </mat-chip-list>
        </ng-container>
        <p><strong>Продукти:</strong></p>
        <ng-container *ngIf="subcategories; else simpleLoading">
          <mat-chip-list *ngIf="subcategories.length">
            <mat-chip color="primary" selected (click)="updateProduct(subcategory.id)"
              *ngFor="let subcategory of subcategories">
              {{ subcategory?.name }}
            </mat-chip>
            <button mat-stroked-button color="primary" (click)="toggleSubcategories()">
              {{ this.areAllSubcategories ? 'Сховати' : 'Показати усі продукти' }}</button>
          </mat-chip-list>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>
</ng-container>
<div mat-dialog-actions>
  <button mat-button class="ml-8" [mat-dialog-close]="null" cdkFocusInitial>
    Закрити
  </button>
</div>
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    <span>Завантаження продукту...</span>
  </div>
</ng-template>
<ng-template #simpleLoading>
  <div class="spinner-container-simple">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-template>
